model: "deepseek-ai/DeepSeek-R1-Distill-Llama-70B"
download_dir: /srv/llm-weights
served-model-name: "default"
host: "localhost"
port: 8000

enable-prefix-caching: true

max-model-len: 16384
tensor-parallel-size: 1

enable-auto-tool-choice: true
tool-call-parser: "hermes"
